body
{background-color: black;}

.holder-et-tørkle

{
    
    width: 500px;
    margin-top: 100px; /* Juster avstanden her */
    length:auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
right: -100px;
    }

.andini-med-kanin-i-hånden

{

width: 500px;
border-radius:50%;
transform: rotate(5deg);
length:auto



}


h1 

{

        color: white;
        text-shadow: 5px 2px blue;
        text-align: center;
        right: 500;

}

.har-trylt-frem-en-kanin
{
    width: 500px;
    margin-top: 50px; /* Juster avstanden her */
    length:auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
right: -100px;
}
p

{color: white;
    padding-top: 50px
bottom 20px;
    line-height: 1.2; /* justerer linjeavstanden */
}


@media only screen and (max-width: 600px) {
    * {
        height: 50px;
       /* Plasserer bildet til høyre */
        margin-top: 20px; 
      
  }
  .andini-med-tørkle-i-honden
 {width: 500px;
    margin-top: 100px; /* Juster avstanden her */
    length:auto;
    position: relative;
left: 500px;
} 
  
}
